// Typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: $headings-font-family;
    font-weight: bold;
    margin: 0 0 0.5em;
    color: $headings-color;
}

h1,
.h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 10px;
    @include media('>=tablet') {
        font-size: $h1-font-size;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
}

h2,
.h2 {
    font-size: 15px;
    margin: 0;
    color: $white;
    @include media('>=tablet') {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: 16px;
    color: $green;
    @include media('>=tablet') {
        font-size: $h3-font-size;
    }
}

h4,
.h4 {
    font-size: $h4-font-size;
    color: $white;
    background-color: $green;
    padding: 8px 20px;
    display: block;
    margin-bottom: 0;
    font-weight: 600;
    @include media('>=tablet') {
        padding: 14px 10px;
    }
    @include media('>=desktop') {
        padding: 9px 16px;
    }
}

h5,
.h5 {
    font-size: $h5-font-size;
    color: $black;
    margin: 0 0 10px;
}

h6,
.h6 {
    font-size: $h6-font-size;
    text-align: center; 
    font-weight: 400;   
    margin: 0 0 20px 0;
}

p {
    margin: 0 0 1em;
}

a {
    color: $base-link-color;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}
