$breakpoints: ( 'xs-phone': 320px, 'phone': 480px, 'tablet': 768px, 'desktop': 1024px, 'widescreen': 1200px);
// keywords
$media-expressions: ( 'screen': 'screen', 'print': 'print', 'handheld': 'handheld', 'landscape': '(orientation: landscape)', 'portrait': '(orientation: portrait)', 'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)', 'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)');
// ligatured operators ≥ ≤
@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'vendors/icons';
@import 'vendors/fonts';
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	color: $white;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 0 10px;
	@include media('>=tablet') {
		font-size: $h1-font-size;
		letter-spacing: 2px;
	}
}

.header-text {
	float: left;
	width: 70%;
	margin: 0;
	text-align: center;
	padding-left: 5%;
	@include media('>=tablet') {
		padding-left: 15px;
	}
	.author {
		color: #f1f333;
		font-size: 16px;
		@include media('>=tablet') {
			font-size: 24px;
		}
	}
}

#wrapper {
	overflow: hidden;
}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$base-font-size}/#{$base-line-height} $base-font-family;
	min-width: $base-min-width;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header {
	margin-bottom: 31px;
}

.promo {
	@extend %clearfix;
	padding: 20px 0 20px;
	background-size: cover;
	background-position: 50% 50%;
	@include media('>=phone') {
		padding: 30px 0 30px;
	}
	@include media('>=tablet') {
		padding: 100px 0 110px;
	}
	@include media('>=desktop') {
		padding: 126px 0 154px;
	}
}

.logo {
	width: 30%;
	height: auto;
	float: left;
	max-width: 164px;
	a {
		opacity: 1;
		transition: opacity 0.3s;
		&:hover {
			opacity: 0.75;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}

.container {
	@extend %clearfix;
	max-width: 1070px;
	padding: 0 15px;
	margin: 0 auto;
}

.main-nav {
	background-color: $red;
	padding: 5px 0;
	position: relative;
	@include media('>=tablet') {
		padding: 0;
	}
}

.nav-drop {
	@extend %listreset;
	text-align: right;
	opacity: 0;
	position: absolute;
	z-index: 999;
	top: 40px;
	left: 100%;
	width: 100%;
	background-color: darken($red, 15%);
	padding: 10px 0;
	transition: left 0.3s, visible 0.3s, opacity 0.3s;
	@include media('>=tablet') {
		opacity: 1;
		position: static;
		background-color: transparent;
		display: flex;
		padding: 0;
		justify-content: space-around;
	}
	li {
		&.active a {
			background-color: darken($red, 10%);
		}
		&.hover > a {
			background-color: #e2e2e2;
			color: #167f39;
		}
		@include media('>=tablet') {
			position: relative;
		}
		&:last-child .drop-down {
			left: auto;
			right: 0;
			text-align: right;
		}
	}
	a {
		transition: background-color 0.3s, color 0.3s;
		color: $white;
		text-decoration: none;
		padding: 3px 15px;
		display: block;
		font-weight: bold;
		&:hover {
			color: $green;
			background-color: #e2e2e2;
		}
		@include media('>=tablet') {
			padding: 13px 5px;
			font-size: 12px;
		}
		@include media('>=desktop') {
			font-size: 14px;
			padding: 15px;
		}
	}
	.nav-active & {
		visibility: visible;
		opacity: 1;
		left: 0;
	}
	.drop-down {
		@extend %listreset;
		padding: 15px 15px;
		background-color: darken($red, 20%);
		@include media('>=tablet') {
			background-color: #e2e2e2;
			position: absolute;
			top: 100%;
			padding: 13px 0;
			width: 220px;
			text-align: left;
			z-index: 99;
		}
		a {
			@include media('>=tablet') {
				color: #167f39;
				padding: 13px 18px;
				font-size: 12px;
				font-weight: bold;
				&:hover {
					background-color: darken(#e2e2e2, 20%);
					color: #e2e2e2;
				}
			}
		}
	}
}

.nav-opener {
	float: right;
	width: 30px;
	height: 30px;
	background: lighten($green, 10%);
	position: relative;
	border-radius: 0px;
	display: block;
	z-index: 11;
	@include media('>=tablet') {
		display: none;
	}
	&:hover {
		opacity: .9;
	}
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(45deg);
			top: 50%;
			left: 15%;
			right: 15%;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background: #cecece;
		border-radius: 0px;
		position: absolute;
		top: 50%;
		left: 25%;
		right: 25%;
		height: 2px;
		margin-top: -1px;
		/* height/2 */
		transition: all .3s linear;
	}
	&:before,
	&:after {
		content: '';
		top: 30%;
	}
	&:after {
		top: 70%;
	}
}

main .container {
	display: table;
	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
	}
}

#content {
	width: 100%;
	@include media('>=tablet') {
		order: 2;
		flex-shrink: 1;
		min-width: 200px;
	}
}

#sidebar-right {
	@include media('>=tablet') {
		order: 3;
		margin-left: 5px;
		flex-grow: 1;
		flex-shrink: 0;
		width: 200px;
	}
	@include media('>=desktop') {
		width: 250px;
		margin-left: 20px;
	}
}

#sidebar-left {
	@extend %clearfix;
	display: table-header-group;
	@include media('>=tablet') {
		display: block;
		width: 200px;
		flex-grow: 1;
		flex-shrink: 0;
		float: left;
		margin-right: 5px;
		margin-bottom: 0;
	}
	@include media('>=desktop') {
		width: 250px;
		margin-right: 20px;
	}
	&.sidebar-opened .sidebar-opener i {
		transform: rotate(180deg);
	}
	.sidebar-content {
		@include media('>=tablet') {
			display: block !important;
			position: static !important;
			height: auto !important;
		}
	}
	.sidebar-opener {
		padding: 15px;
		text-align: center;
		font-size: 14px;
		background-color: $green;
		color: $white;
		display: block;
		font-weight: bold;
		line-height: 24px;
		transition: color 0.3s, background-color 0.3s;
		margin-bottom: 10px;
		@include media('>=tablet') {
			display: none;
		}
		&:hover {
			background-color: lighten($green, 5%);
			color: #ddebd6;
		}
		i {
			margin-left: 10px;
			font-size: 25px;
			transition: transform 0.3s, color 0.5s;
			line-height: 1px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.sidebar-box {
	margin-bottom: 10px;
	background-color: $white;
	&:last-child {
		@include media('>=tablet') {
			margin-bottom: 0;
		}
	}
	@include media('>=tablet') {
		margin-bottom: 20px;
	}
	.box-list {
		@extend %listreset;
		padding: 10px 20px 10px 30px;
		color: $black;
		@include media('>=tablet') {
			padding: 22px 8px 22px 20px;
		}
		@include media('>=desktop') {
			padding: 23px 20px 23px 26px;
		}
		li {
			position: relative;
			margin-bottom: 3px;
			&:last-child {
				margin-bottom: 0;
			}
			@include media('>=tablet') {
				margin-bottom: 16px;
			}
			&:after {
				content: '';
				background-color: $black;
				position: absolute;
				top: 50%;
				left: -10px;
				border-radius: 100%;
				width: 4px;
				height: 4px;
				margin-top: -2px;
			}
		}
		a {
			color: $black;
			transition: color 0.3s;
			&:hover {
				color: $green;
			}
		}
	}
}

.subscribe-form {
	padding: 20px;
	text-align: center;
	&>i {
		font-size: 46px;
		color: $green;
		display: inline-block;
		margin-bottom: 15px;
	}
	input {
		width: 100%;
		height: 30px;
		i {
			color: $green;
		}
	}
	input[type="email"] {
		width: 75%;
		border: none;
		background: transparent;
		height: auto;
		padding: 0;
		outline: none;
		font-size: 11px;
		font-weight: 600;
		font-style: italic;
		color: $green;
		@include placeholder {
			color: $green;
		}
		@include media('>=desktop') {
			width: 84%;
			font-size: 14px;
		}
	}
	input[type="submit"] {
		border: none;
		background: $red;
		height: 31px;
		text-align: center;
		outline: none;
		font-size: 14px;
		color: $white;
		font-weight: 600;
		border: 2px solid $red;
		transition: background-color 0.3s, color 0.3s;
		;
		&:hover {
			background: transparent;
			color: $red;
		}
	}
	.input-row {
		@extend %clearfix;
		text-align: left;
		margin-bottom: 15px;
		&:first-of-type {
			border: 2px solid $green;
			padding: 2px 10px;
			margin-bottom: 10px;
		}
		i {
			display: inline-block;
			font-size: 15px;
			margin-right: 10px;
			color: $green;
		}
	}
}

.heading-box {
	margin-bottom: 4px;
	text-align: center;
	padding: 18px 15px;
	font-weight: bold;
	background-color: $green;
	font-size: 15px;
	@include media('>=desktop') {
		padding: 25px 10px;
		font-size: 16px;
		letter-spacing: 2px;
	}
}

.event-list {
	@extend %listreset;
	li {
		min-height: 74px;
		position: relative;
		display: flex;
		background-color: $white;
		margin-bottom: 4px;
		padding: 5px 5px 5px 100px;
		@include media('>=tablet') {
			padding: 15px 20px 15px 100px;
		}
		.left-box {
			position: absolute;
			top: 0;
			width: 80px;
			left: 0;
			bottom: 0;
			padding: 3px;
			background-color: $green;
			color: $white;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.holder {
				text-align: center;
			}
			.name {
				display: block;
				font-weight: 600;
				font-size: 12px;
				line-height: 1.1;
			}
			time {
				font-weight: 600;
				line-height: 1.1;
				font-size: 12px;
			}
		}
		.right-box {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			p {
				color: $black;
				font-size: 12px;
				font-weight: 700;
				margin-bottom: 0;
			}
			.holder {}
		}
	}
}

.events-block {
	margin-bottom: 20px;
}

.features-block {
	padding: 10px;
	background-color: $white;
	background-image: url('../img/icon1.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-size: 14px;
	margin-bottom: 20px;
	@include media('>=tablet') {
		padding: 9px 16px 5px;
	}
	dt {
		float: left;
		font-weight: 700;
		color: $green;
		margin-right: 10px;
	}
	dd {
		color: $black;
		margin-left: 0;
		margin-bottom: 8px;
		@include media('>=tablet') {
			margin-bottom: 16px;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.marked {
	color: $red;
	font-size: 14px;
	&-green {
		color: $green;
	}
}

.result-block {
	margin-bottom: 20px;
	thead {
		color: $white;
		tr {
			background: $green;
		}
		select {
			color: $black;
			outline: none;
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			padding: 0 5px;
			border: none;
			@include media('>=tablet') {
				width: 100px;
			}
		}
	}
	table {
		width: 100%;
		td,
		th {
			font-size: 10px;
			padding: 5px;
			@include media('>=phone') {
				font-size: 12px;
				font-weight: 600;
			}
			@include media('>=tablet') {
				padding: 6px 10px;
			}
			@include media('>=desktop') {
				padding: 6px 16px;
			}
		}
	}
	th {
		text-align: left;
		max-width: 270px;
		vertical-align: top;
		&:last-child {
			text-align: right;
		}
		@include media('>=phone') {
			font-size: 14px !important;
			font-weight: 600;
		}
		i {
			display: block;
			font-size: 10px;
		}
		@include media('>=phone') {
			padding-top: 9px !important;
			padding-bottom: 9px !important;
		}
	}
	td {
		text-align: center;
		font-weight: 600;
		padding: 10px 5px;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
	tr {
		background-color: $white;
		&:nth-child(2n) {
			background-color: #cccccc;
		}
	}
}

.info-block {
	border: 4px solid $green;
	background-color: transparent;
	margin-bottom: 20px;
	padding: 25px 15px;
	font-size: 12px;
	color: $green;
	font-weight: bold;
	@include media('>=tablet') {
		line-height: 1.7;
		padding-bottom: 28px;
	}
	a {
		font-weight: 800;
		text-decoration: underline;
	}
	h3 {
		overflow: hidden;
		@extend %clearfix;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 13px;
		.marked {
			@include media('>=tablet') {
				font-size: 18px;
			}
		}
		.text {
			margin-left: 16px;
			display: block;
		}
	}
}

.add-info {
	padding: 10px;
	background-color: #cccccc;
	color: $green;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
	p:only-child {
		margin-bottom: 0;
	}
	@include media('>=tablet') {
		padding: 22px 16px 18px;
		line-height: 1.7;
	}
}

#sidebar-right {
	background-color: $white;
	font-size: 14px;
	margin-bottom: 20px;
	padding-bottom: 25px;
	.text-block {
		padding: 0 20px;
	}
	dl {
		padding: 9px 10px;
		@include media('>=desktop') {
			padding: 9px 20px;
			margin-bottom: 4px;
		}
		dt {
			color: $green;
			font-size: 14px;
			font-weight: bold;
		}
		dd {
			font-size: 14px;
			line-height: 1.4;
			font-weight: 400;
			margin-bottom: 16px;
			margin-left: 10px;
			p {
				margin-bottom: 0;
			}
		}
	}
}

#footer {
	background-image: url('../img/foter-bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	padding: 20px;
	color: $white;
	font-size: 12px;
	text-align: center;
	margin-top: 41px;
	@include media('>=tablet') {
		padding-top: 31px;
	}
	.logo-holder {
		margin-bottom: 20px;
		@include media('>=desktop') {
			margin-bottom: 24px;
		}
		a {
			display: block;
			margin-bottom: 10px;
			opacity: 1;
			transition: opacity 0.3s;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.h1 {
		display: block;
		text-align: center;
		text-transform: none;
		font-weight: 400;
		margin-bottom: 22px;
		font-size: 24px;
	}
	.footer-nav {
		font-size: 0;
		margin-bottom: 20px;
		@include media('>=desktop') {
			margin-bottom: 32px;
		}
		ul {
			@extend %listreset;
		}
		li {
			font-size: 14px;
			display: inline-block;
			width: 33.332%;
			vertical-align: middle;
			@include media('>=tablet') {
				width: 17%;
			}
		}
		a {
			text-decoration: underline;
			color: $white;
			font-size: 14px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.copy {
		max-width: 517px;
		display: block;
		text-align: center;
		margin: 0 auto;
		line-height: 1.45;
		a {
			color: $white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.content-heading {
	font-size: 16px;
	margin-bottom: 10px;
	padding: 8px;
	@include media('>=tablet') {
		margin-bottom: 20px;
	}
}

.content-holder {
	background-color: $white;
	height: 100%;
	padding: 0 20px 20px;
	font-size: 12px;
	@include media('>=tablet') {
		font-size: 14px;
	}
	dl {
		@extend %clearfix;
	}
	dt {
		color: $green;
		text-transform: uppercase;
		display: inline-block;
		font-weight: 700;
	}
	dd {
		display: inline-block;
		margin: 0;
	}
	p {
		margin-bottom: 24px;
	}
	h4 {
		margin: 0 -20px;
		text-align: center;
		margin-bottom: 33px;
	}
	h5 {
		text-align: center;
	}
}

.custom-number {
	@extend %listreset;
	counter-reset: point;
	margin-bottom: 16px;
	li:before {
		content: counter(point) "°) ";
		/* выводим значение переменной */
		counter-increment: point 1;
		/* увеличваем счетчик на 1 */
		font-size: 14px;
		/* декор цифр  */
		display: inline-block;
		color: $black;
	}
}

.acces-form-holder {
	max-width: 340px;
	margin: 0 auto;
	background-color: #888;
	color: $white;
	margin-bottom: 50px;	
	& ~ p{
		margin-bottom: 0;

	}
	& ~ ul{
		@extend %listreset ;
				margin-top: 20px;	
	}
	h4 {
		background-color: #555;
		margin: 0 0 20px;
		padding: 10px 16px;
	}
	label {
		font-weight: bold;
		font-size: 12px;
		display: block;
		margin-bottom: 5px;
	}
	.input-row {
		background-color: $white;
		padding: 0 10px;
		height: 30px;
		display: flex;
		margin-bottom: 6px;
		i {
			margin-right: 10px;
			display: inline-block;
			width: 5%;
			line-height: 30px;
			color: #555;
			font-size: 16px;
		}
		input {
			font-weight: bold;
			border: none;
			padding: 0;
			display: inline-block;
			width: 100%;
			color: #555;
			outline: none;
		}
	}
	input {
		width: 100%;
		height: 30px;
		margin-bottom: 10px;
		&[type="submit"] {
			border: 2px solid $red;
			background-color: $red;
			color: $white;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			transition: background-color 0.3s, color 0.3s;
			outline: none;
			margin-top: 10px;
			margin-bottom: 17px;
			&:hover {
				background-color: transparent;
				color: $red;
			}
		}
	}
	form {
		@extend %clearfix;
		padding: 0 33px 33px;
	}
	a {
		display: inline-block;
		color: $white;
		font-size: 12px;
		transition:color 0.3s;
						
		&:hover{
			color:$green;
		}
	}
}
